body {
  background-color: rgb(2, 34, 6);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  text-align: center;
  color: #000;
}

div {
  text-align: left;
}

div.titleText {
  text-align: center;
  color: #ffffff;
}

button.colorButton{
  width: 250px;
  height: 250px;
  color: #fff;
  padding: 5px;
}

div.colorCont{
  text-align: center;
}

img.colorPic{
  width: 100%
}
