body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  text-align: center;
  color: #000;
}

div {
  text-align: left;
}

div.titleText {
  text-align: center;
  color: #235f35;
}

button.colorButton{
  width: 250px;
  height: 250px;
  color: rgb(158, 11, 11);
  padding: 5px;
}

div.colorCont{
  text-align: center;
}

img.schoolPic{
  margin-right: auto;
  martin-left: auto;
  width: 475px;
}
